// global color scheme

$button-shadow-color: #2d234266;

$primary-color: #FCFCFD;
$primary-darker-color: #D6D6E7;

$accent-color: #ab1e65;
$accent-darker-color: #771043;

$secondary-color: #1f202e;
$background-color: #848484;