<h1>Ranking:</h1>
<table class="ranking-table" id="ranking-table">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Score</th>
            <th>Matches won</th>
            <th>Matches lost</th>
            <th>Win Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of ranking$ | async">
            <td>{{ player.name }}</td>
            <td>{{player.ranking?.score}}</td>
            <td>{{player.ranking?.matchesWon}}</td>
            <td>{{player.ranking?.matchesLost}}</td>
            <td>{{winRate(player.ranking?.matchesWon!, player.ranking?.matchesLost!)}}</td>
        </tr>
    </tbody>
</table>
